[include plr.cfg]
[include mainsail.cfg]
[include KAMP_Settings.cfg]
[include macros.cfg]

[stepper_x]
step_pin: PC2
dir_pin: PB9
enable_pin: !PC3
microsteps: 16
rotation_distance: 40
endstop_pin: !PA5
position_endstop: -10
position_max: 235
position_min: -15
homing_speed: 50

[stepper_y]
step_pin: PB8
dir_pin: PB7
enable_pin: !PC3
microsteps: 16
rotation_distance: 40
endstop_pin: !PA6
position_endstop: -8
position_max: 238
position_min: -13
homing_speed: 50

[stepper_z]
step_pin: PB6
dir_pin: !PB5
enable_pin: !PC3
microsteps: 16
rotation_distance: 8
endstop_pin: probe:z_virtual_endstop
position_max: 270
position_min: -4

[extruder]
step_pin: PB4
dir_pin: PB3
enable_pin: !PC3
microsteps: 16
gear_ratio: 42:12
rotation_distance: 26.424
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: PA1
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC5
#control: pid
#pid_Kp: 23.561
#pid_Ki: 1.208
#pid_Kd: 114.859
min_temp: 0
max_temp: 300 # Set to 300 for S1 Pro
max_extrude_only_distance: 100.0
max_extrude_cross_section: 5.0
pressure_advance: 0.035

[heater_bed]
heater_pin: PA7
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC4
#control: pid
#pid_Kp: 71.867
#pid_Ki: 1.536
#pid_Kd: 840.843
min_temp: 0
max_temp: 110 # Set to 110 for S1 Pro

[heater_fan hotend_fan]
pin: PC0

[fan]
pin: PA0

[mcu]
serial: /dev/serial/by-id/usb-1a86_USB_Serial-if00-port0
restart_method: command

[printer]
kinematics: cartesian
max_velocity: 300
max_accel: 2000
max_z_velocity: 5
max_z_accel: 100

[bltouch]
sensor_pin: ^PC14
control_pin: PC13
x_offset: -31.8
y_offset: -40.5
#z_offset: 0
probe_with_touch_mode: true
stow_on_each_sample: false

[bed_mesh]
speed: 120
mesh_min: 10, 10
mesh_max: 200, 194
probe_count: 7,7
algorithm: bicubic

[screws_tilt_adjust]
screw1: 51, 68
screw1_name: front left screw
screw2: 227, 68
screw2_name: front right screw
screw3: 227, 235
screw3_name: rear right screw
screw4: 51, 235
screw4_name: rear left screw
horizontal_move_z: 10.0
speed: 100.0
screw_thread: CW-M4

[safe_z_home]
home_xy_position: 147, 154
speed: 100
z_hop: 10
z_hop_speed: 5

[force_move]
enable_force_move: True

#[homing_override]
#  gcode:
#    {% set home_all = 'X' not in params and 'Y' not in params and 'Z' not in params %}
#    {% if home_all or 'X' in params %}
#      G28 X
#    {% endif %}
#  
#    {% if home_all or 'Y' in params %}
#      G28 Y
#    {% endif %}
#    
#    {% if home_all or 'Z' in params %}
#      {% set target_x = params.X|default(147)|float %}
#      {% set target_y = params.Y|default(154)|float %}
#      SET_KINEMATIC_POSITION Z=0
#      G91
#      G0 Z10 F600
#      G90
#      G0 X{target_x} Y{target_y} F6000
#      G28 Z
#      G0 Z10 F600
#    {% endif %}

[filament_switch_sensor e0_sensor]
switch_pin: !PC15
pause_on_runout: true
runout_gcode: PAUSE

[pause_resume]
recover_velocity: 50

[firmware_retraction]
retract_length: 0.8
retract_speed: 60
unretract_extra_length: 0
unretract_speed: 60

[bed_screws]
screw1: 20, 29
screw2: 195, 29
screw3: 195, 198
screw4: 20, 198

[exclude_object]

[input_shaper]
# y: 
#1. 100 * 2 / 1.8 = 111,1 hz
#2. * 2 / 1.6 = 125 hz
#3. * 2 / 1.8 = 111,1 hz
#115,7 hz

#x:
#1. 100 * 4 / 7.4 = 54,1 hz
#2. * 3 / 5  = 60 hz
#3. * 4 / 7.8 = 51,3 hz
#55,1 hz
shaper_freq_x: 55.1
shaper_freq_y: 115.7
shaper_type: ei

[include moonraker_obico_macros.cfg]

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [bltouch]
#*# z_offset = 2.250
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	0.200000, 0.025000, -0.067500, -0.095000, -0.045000, 0.020000, 0.150000
#*# 	0.097500, -0.052500, -0.127500, -0.140000, -0.077500, 0.022500, 0.120000
#*# 	0.215000, 0.055000, -0.062500, -0.092500, -0.057500, 0.030000, 0.135000
#*# 	0.287500, 0.120000, -0.007500, -0.042500, -0.015000, 0.032500, 0.100000
#*# 	0.120000, 0.007500, -0.052500, -0.060000, 0.037500, 0.152500, 0.265000
#*# 	0.142500, -0.022500, -0.067500, -0.060000, 0.060000, 0.137500, 0.255000
#*# 	0.135000, -0.035000, -0.132500, -0.135000, -0.065000, 0.007500, 0.125000
#*# x_count = 7
#*# y_count = 7
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 10.0
#*# max_x = 199.96
#*# min_y = 10.0
#*# max_y = 193.95999999999998
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 22.730
#*# pid_ki = 1.471
#*# pid_kd = 87.794
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 73.717
#*# pid_ki = 2.296
#*# pid_kd = 591.580
