[gcode_macro CLEAN_BED]
gcode:
  BED_MESH_PROFILE LOAD="default"
  {% set x_coordinates = [0, 43, 86, 129, 172, 215] %}

  M190 S40
  G28 X50 Y225 Z
  G4 P1000
  G0 Z0.2 F600
  {% for cord in x_coordinates %}
    G0 X{cord} F8000
    G0 Y0 F2000
    G0 X{cord-8} F2000
    G0 Y225 F8000
  {% endfor %}

  G0 Z5 F600
  G28 X

#------------------------------------------------------    Machine    ------------------------------------------------------------#

[gcode_macro SHUTDOWN]
gcode:
    #LCDRGB R=0 G=0 B=0                               ; Turn off LCD neopixels (see above for this macro)
    #OFF                                              ; Shortcut to turn everything off (see above for this macro)
    #{action_respond_info('action:poweroff')}          ; OctoPrint compatible host shutdown
	{action_call_remote_method("shutdown_machine")}   ; Moonraker compatible host shutdown


#---------------------------------------------------    Klipper Backup    --------------------------------------------------------#

[gcode_macro update_git]
gcode:
    {% set message = params.MESSAGE|default() %}
    {% if message %}
        RUN_SHELL_COMMAND CMD=update_git_script_message PARAMS="'{params.MESSAGE}'"
    {% else %}
        RUN_SHELL_COMMAND CMD=update_git_script
    {% endif %}

[gcode_shell_command update_git_script]
command: bash -c "bash $HOME/klipper-backup/script.sh"
timeout: 90.0
verbose: True

[gcode_shell_command update_git_script_message]
command: bash -c "bash $HOME/klipper-backup/script.sh -c \"$0\""
timeout: 90.0
verbose: True